.submit{
    position: relative;
    color: white;
	background:none;
	padding: 7%;
    z-index: 2;
    display: inline-block;
    justify-content: center;
    align-items: center; 
    text-align: left;
    
    
}

.form-text{
    color: white;
}